# Table of Contents

1. Importing Libraries
2. Import Dataframe (orders_products_combined)
3. check for data consistency and correctness 
4  Import products_checked dataframe 
5  Merge dataframes ords_Combined and products_checked
6. Confirming the results of the merge using the merge flag
7. Export file to pickle (orders_products_merged)

# 1. importing libraries

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 2. import data

In [3]:
path = r'C:\Users\admin\Desktop\10.2023 Instacart Basket Analysis'

path

'C:\\Users\\admin\\Desktop\\10.2023 Instacart Basket Analysis'

In [4]:
# read the pickle file path
df_ords_combined = pd.read_pickle(os.path.join(path, '02 Data', 'prepared data', 'orders_products_combined.pkl'))

# 3. check for data consistency and correctness

In [5]:
# check the number of rows and columns

df_ords_combined.shape

(32434489, 12)

In [6]:
df_ords_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,7.0,196,1,0,both
1,0,0,2539329,1,1,2,8,7.0,14084,2,0,both
2,0,0,2539329,1,1,2,8,7.0,12427,3,0,both
3,0,0,2539329,1,1,2,8,7.0,26088,4,0,both
4,0,0,2539329,1,1,2,8,7.0,26405,5,0,both

In [7]:
# drop some columns

df_ords_combined.drop(columns={'Unnamed: 0.1', 'Unnamed: 0', '_merge'}, inplace=True)

In [8]:
df_ords_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,7.0,196,1,0
1,2539329,1,1,2,8,7.0,14084,2,0
2,2539329,1,1,2,8,7.0,12427,3,0
3,2539329,1,1,2,8,7.0,26088,4,0
4,2539329,1,1,2,8,7.0,26405,5,0

In [9]:
df_ords_combined.shape

(32434489, 9)

In [10]:
df_ords_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 9 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_hour              int64
 5   days_since_prior_order  float64
 6   product_id              int64
 7   add_to_cart_order       int64
 8   reordered               int64
dtypes: float64(1), int64(8)
memory usage: 2.2 GB

In [11]:
# Change types for df_ords_combined data set

df_ords_combined['order_id']=df_ords_combined['order_id'].astype('int32')
df_ords_combined['user_id'] = df_ords_combined['user_id'].astype('int32')
df_ords_combined['order_number']=df_ords_combined['order_number'].astype('int8')
df_ords_combined['orders_day_of_week']=df_ords_combined['orders_day_of_week'].astype('int8')
df_ords_combined['order_hour']=df_ords_combined['order_hour'].astype('int8')
df_ords_combined['days_since_prior_order']=df_ords_combined['days_since_prior_order'].astype('float16')
df_ords_combined['product_id']=df_ords_combined['product_id'].astype('int32')
df_ords_combined['add_to_cart_order'] = df_ords_combined['add_to_cart_order'].astype('int32')
df_ords_combined['reordered']=df_ords_combined['reordered'].astype('int8')

In [12]:
# Check output to see memory usage

df_ords_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 9 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_hour              int8
 5   days_since_prior_order  float16
 6   product_id              int32
 7   add_to_cart_order       int32
 8   reordered               int8
dtypes: float16(1), int32(4), int8(4)
memory usage: 680.5 MB

# 4. import products_checked dataframe

In [13]:
# Import and load 'products' dataset stored in 'prepared data folder'
df_prods_checked = pd.read_csv(os.path.join(path, '02 Data', 'prepared data', 'products_checked.csv'), index_col = False)

In [14]:
# check the output

df_prods_checked.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [15]:
# drop some columns

df_prods_checked.drop(columns={'Unnamed: 0'}, inplace=True)

In [16]:
# check the output

df_prods_checked.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [17]:
# check the shape

df_prods_checked.shape

(49672, 5)

In [18]:
df_prods_checked.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int64
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int64
 3   department_id  49672 non-null  int64
 4   prices         49672 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

In [19]:
# Change types for ords prods data set 

df_prods_checked['product_id'] =df_prods_checked['product_id'].astype('int32')
df_prods_checked['aisle_id']=df_prods_checked['aisle_id'].astype('int8')
df_prods_checked['department_id']=df_prods_checked['department_id'].astype('int8')

In [20]:
# Check output to see memory usage
df_prods_checked.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int32
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int8
 3   department_id  49672 non-null  int8
 4   prices         49672 non-null  float64
dtypes: float64(1), int32(1), int8(2), object(1)
memory usage: 1.0+ MB

# 5. Merge dataframes ords_Combined and products_checked

In [21]:
# Attempt a merge of both dataframes
df_ords_prods_merged = df_ords_combined.merge(df_prods_checked, on = ['product_id'], how = 'inner', indicator = True)

In [22]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,7.0,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

# Step 6: Confirming the results of the merge using the merge flag

In [23]:
df_ords_prods_merged['_merge'].value_counts(dropna = False)

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [24]:
# check the shape of the merged dataframe

df_ords_prods_merged.shape

(32404859, 14)

# Export file to pickle

In [31]:
# Export file to pickle (with consideration of size)
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [26]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,7.0,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both