# Table of contents

1. Importing Libraries
2. Import dataframe
   - Original Data - Orders_products_prior
   - prepared Data - Orders_cleaned
3. check for data consistency and correctness
4. Merge dataframes orders_products_prior and orders_Cleaned
5. Export dataframe orders_products_combined

# 1. importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 2. import data

In [2]:
path = r'C:\Users\admin\Desktop\10.2023 Instacart Basket Analysis'

path

'C:\\Users\\admin\\Desktop\\10.2023 Instacart Basket Analysis'

In [4]:
#Read the CSV file 'orders_products_prior.csv' from the specified path
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

#Read the CSV file 'order_cleaned.csv' from the specified path
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'prepared Data', 'order_cleaned.csv'), index_col = False)

# 3. check for data consistency and correctness

In [5]:
# check the output

df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour,days_since_prior_order
0,0,0,2539329,1,1,2,8,7.0
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [6]:
df_ords_prior.shape

(32434489, 4)

In [7]:
df_ords.shape

(3421083, 8)

# 4. Merge dataframes orders_products_prior and orders_Cleaned

In [8]:
# code to merge two df_ords and df_ords_prior with common identifier order id

df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [9]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,7.0,196,1,0,both
1,0,0,2539329,1,1,2,8,7.0,14084,2,0,both
2,0,0,2539329,1,1,2,8,7.0,12427,3,0,both
3,0,0,2539329,1,1,2,8,7.0,26088,4,0,both
4,0,0,2539329,1,1,2,8,7.0,26405,5,0,both

In [10]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [ ]:
# double check merge using an how = 'outer' join when exploring new data and performing test merges

df_merged_large = df_ords.merge(df_ords_prior, on='order_id', how='outer', indicator=True)

# 5. Export dataframe orders_products_combined

In [12]:
# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))