# Table of Contents

1. Import Libraries
2. Import Dataframe- original data- Customers
3. Wrangle data checks for correctness
4. Import dataframe- orders_products_merged_new
5. Wrangle data checks for consistency
6. merging problems
7. Export file ( df_ords_cus_merged to sub_25percent)

# 1. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# allocate file path

path = r'C:\Users\admin\Desktop\10.2023 Instacart Basket Analysis'

path

'C:\\Users\\admin\\Desktop\\10.2023 Instacart Basket Analysis'

# 2. Import dataframe customers

In [3]:
df_cus =pd.read_csv(os.path.join(path, '02 Data','original Data', 'customers.csv'), index_col = False)

# step 3, wrangle data check for consistency

In [4]:
df_cus.columns

Index(['user_id', 'First Name', 'Surnam', 'Gender', 'STATE', 'Age',
       'date_joined', 'n_dependants', 'fam_status', 'income'],
      dtype='object')

In [5]:
df_cus.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [6]:
df_cus.shape

(206209, 10)

In [7]:
df_cus.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [8]:
# dropping columns from customers.csv

df_cus =df_cus.drop(columns = ['First Name', 'Surnam', 'Gender', 'date_joined'])

In [9]:
df_cus.columns

Index(['user_id', 'STATE', 'Age', 'n_dependants', 'fam_status', 'income'], dtype='object')

In [10]:
#find missing values. There are no missing values. 

df_cus.isnull().sum()

user_id         0
STATE           0
Age             0
n_dependants    0
fam_status      0
income          0
dtype: int64

In [11]:
## Renaming column names

df_cus.rename(columns = {'n_dependants' : 'number_of_dependants'}, inplace = True)

In [12]:
df_cus.columns

Index(['user_id', 'STATE', 'Age', 'number_of_dependants', 'fam_status',
       'income'],
      dtype='object')

In [13]:
## check for mix types

for col in df_cus.columns.tolist():
  weird = (df_cus[[col]].applymap(type) != df_cus[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_cus[weird]) > 0:
    print (col)
    
# no mixed-type data was found.

In [14]:
# checking for datatypes

df_cus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 6 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   user_id               206209 non-null  int64
 1   STATE                 206209 non-null  object
 2   Age                   206209 non-null  int64
 3   number_of_dependants  206209 non-null  int64
 4   fam_status            206209 non-null  object
 5   income                206209 non-null  int64
dtypes: int64(4), object(2)
memory usage: 9.4+ MB

In [15]:
## change the data types of the columns from int64 to int8

df_cus['user_id'] = df_cus['user_id'].astype('int32')
df_cus['Age'] = df_cus['Age'].astype('int32')
df_cus['number_of_dependants'] = df_cus['number_of_dependants'].astype('int32')
df_cus['income'] = df_cus['income'].astype('int32')

In [16]:
## check for result

df_cus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 6 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   user_id               206209 non-null  int32
 1   STATE                 206209 non-null  object
 2   Age                   206209 non-null  int32
 3   number_of_dependants  206209 non-null  int32
 4   fam_status            206209 non-null  object
 5   income                206209 non-null  int32
dtypes: int32(4), object(2)
memory usage: 6.3+ MB

In [17]:
# check for full duplicates within dataframe

df_dups = df_cus[df_cus.duplicated()]

In [18]:
df_dups

Empty DataFrame
Columns: [user_id, STATE, Age, number_of_dependants, fam_status, income]
Index: []

In [19]:
# check the current number of rows in the original dataframe(before deleting duplicates)

df_cus.shape

(206209, 6)

In [20]:
# create a new dataframe that doesnt include duplicates and use drop_duplicate function to delete

df_cus_clean = df_cus.drop_duplicates()

In [21]:
# check for results in new dataframe

df_cus_clean.shape

(206209, 6)

# 4. import prepared instacart data for combining

In [22]:
 ## Import and load 'products' dataset stored in 'prepared data folder'
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'prepared data', 'orders_products_merged_new.pkl'))

# 5. Wrangle data checks for consistency

In [23]:
# check the output

ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,busiest day,busiest_day,busiest_slowest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spender_flag,median_days_since_prior_order,order_frequency_flag
0,2539329,1,1,2,8,7.0,196,1,0,Soda,...,Regularly busy,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,Regularly busy,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,Regularly busy,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,Least busy,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,Least busy,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer

In [24]:
# Check output to see memory usage

ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404859 entries, 0 to 32404858
Data columns (total 25 columns):
 #   Column                         Dtype
---  ------                         -----
 0   order_id                       int32
 1   user_id                        int32
 2   order_number                   int8
 3   orders_day_of_week             int8
 4   order_hour                     int8
 5   days_since_prior_order         float16
 6   product_id                     int32
 7   add_to_cart_order              int32
 8   reordered                      int8
 9   product_name                   object
 10  aisle_id                       int8
 11  department_id                  int8
 12  prices                         float64
 13  _merge                         category
 14  price_range_loc                object
 15  busiest day                    object
 16  busiest_day                    object
 17  busiest_slowest_days           object
 18  busiest_period_of_day          object
 19  max_order                      int8
 20  loyalty_flag                   object
 21  average_price                  float64
 22  spender_flag                   object
 23  median_days_since_prior_order  float16
 24  order_frequency_flag           object
dtypes: category(1), float16(2), float64(2), int32(4), int8(7), object(9)
memory usage: 3.5+ GB

In [25]:
# Change types for ords prods merged data set 

ords_prods_merge['order_id'] =ords_prods_merge['order_id'].astype('int8')
ords_prods_merge['user_id'] =ords_prods_merge['user_id'].astype('int8')
ords_prods_merge['product_id'] =ords_prods_merge['product_id'].astype('int8')
ords_prods_merge['add_to_cart_order'] =ords_prods_merge['add_to_cart_order'].astype('int8')
ords_prods_merge['prices'] =ords_prods_merge['prices'].astype('float16')
ords_prods_merge['average_price'] = ords_prods_merge['average_price'].astype('float16')

C:\Users\admin\anaconda3\Lib\site-packages\pandas\core\dtypes\astype.py:138: RuntimeWarning: overflow encountered in cast
  return arr.astype(dtype, copy=True)

In [26]:
# dropping columns from ords_prods_merge

ords_prods_merge =ords_prods_merge.drop(columns = ['_merge'])

In [27]:
ords_prods_new=ords_prods_merge

# 6. merging problem

I experienced some merging issues because of memory error problem.
It was necessary to perform the merge in another system
Below are just indications of steps i would have followed had i performed to merge here.

In [ ]:
# attempt to merge the two dataframe together

df_ords_cus_prods = df_cus_clean.merge(ords_prods_new, on=['user_id'], how='inner', indicator= True)

In [ ]:
# check to see the output
df_ords_cus_prods

In [ ]:
# onfirming the results of the merge using the merge flag

df_ords_cus_prods['_merge'].value_counts(dropna = False)

In [ ]:
# check the shape of the merged dataframe

ords_cus_prods.shape

# Export file from df_ords_cus_merged to sub_25percent

In [ ]:
# Export file to pickle (with consideration of size)
ords_cus_prods.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_ords_cus_merged.pkl'))